/* ///////////////// Common Components /////////////// */
body{
    overflow: hidden;
}
.Bg_Color {
    background-color: var(--color-black) !important;
}
html{
    scroll-behavior: smooth;
}
.common_btn {
    background: #02CDCF;
    border-radius: 8px;
    padding: 15px 32px;
    transition: all 0.3s linear;
    border: 1px solid #02CDCF !important;
}

.common_btn:focus,
.common_btn:hover {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 0.7em transparent;
    background-color: transparent !important;
    color: var(--color-green) !important;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #02CDCF;
    }
}

.c_pointer {
    cursor: pointer !important;
}


/* ////////////////////  Nav Bar /////////////////// */

.z_1000{
    z-index: 1000 !important;
}
.py_30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.gap_20 {
    gap: 20px;
}

.Nav_Btn_hover {
    transition: all 300ms ease-in-out;
}

.Nav_Btn_hover:hover {
    color: #02CDCF !important;
}

.Nav_Btn_hover::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 50%;
    background-color: #02CDCF;
    transition: all 300ms ease-in-out;
    border-radius: 50%;
}

.Nav_Btn_hover:hover::after {
    width: 100%;
    left: 0;
}

@media (max-width:991.9px) {
    .nav_sm {
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        transition: all 500ms linear;

    }

    .nav_show {
        left: 0;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .close_nav {
        position: absolute;
        right: 10%;
        top: 25px;
        cursor: pointer;
    }

}

/* ////////////////////  Hero Section /////////////////// */
.bg_image_hero_xs {
    background-image: url("./assets/image/gif/SmallScreenHero.gif");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
}

.header_bottom_shadow::after {
    background: linear-gradient(187deg, #040404 24.07%, rgba(4, 4, 4, 0) 96.3%);
    content: "";
    height: 106px;
    left: 0%;
    position: absolute;
    bottom: -106px;
    width: 100%;
    z-index: 6;
}

/* ////////////////////  AIPowered Section /////////////////// */
.AIPowered_para_w {
    max-width: 517px;
}

.AI_bg_shadow {
    background: var(--color-green);
    filter: blur(227px);
    width: 100px;
    height: 100px;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
}

/* ////////////////////  Unique features Section /////////////////// */

.boxunique {
    border: 1px solid #FCFCFC;
    height: 670px;
    width: 95%;
    border-radius: 32px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04));
    background-image: url("./assets//image/webp/UniqueCenterImage.webp");
    background-position-x: center;
    background-position-y:60%;
    background-repeat: no-repeat;
}

.unique_para_w {
    max-width: 401px;
}

.UniqueCenterImg {
    top: 40%;
}

.RemoteAccess_box {
    width: 280px;
    height: 400px;
    background-color: white;
    border-radius: 16px;
    padding: 30px 28px 40px 28px;
}


#my_scroll ::-webkit-scrollbar {
    display: none;
}

.RemoteAccess_box_top_translate {
    transform: translateY(-50px);
}

.RemoteAccess_box_top_translate_2 {
    transform: translateY(-100px);
}

.RemoteAccess_box_top_translate_3 {
    transform: translateY(-150px);
}

.slick-dots li button:before {
    color: white !important;
    font-size: 12px !important;
    margin-top: 20px;
}

.w_100 {
    width: 100%;
}

/* ////////////////////  Blockchain Section /////////////////// */
.ImageP1{
    transition: all 300ms linear;
}
.ImageP1:hover{
    transform:scale(1.1);
}
.BlockchainPara {
    max-width: 997px;
}

.BlockchainPara_2 {
    max-width: 675px;
}

.Securitypara {
    max-width: 212px;
}

.One_border {
    background-color: #040404;
    box-shadow: 0px 4px 16px 0px rgba(2, 205, 207, 0.60) inset;
    width: 58px;
    height: 58px;
    border-radius: 50%;
}

.top_box_security {
    top: 42% !important;
}


/* //////////////////// NexAi does all this. And more. /////////////////// */
.NexAIThreeSliderPara {
    max-width: 912px;
}

.Three_slider_box {
    background: hsla(0, 0%, 100%, .02);
    border-radius: 16px;
    height: 220px;
    box-shadow: 0px 4px 20px 0px rgba(2, 205, 207, .16);
    padding: 53px 43px;
    transition: all .3s linear !important;
}

.Three_slider_box:hover {
    background: rgba(2, 205, 207, .16);
    box-shadow: 0px 4px 20px 0px rgba(82, 80, 80, .482);
}

.Three_Slider_box_h2 {
    max-width: 254px;
}

.NexAi_box_one {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: 1px solid white;
    border: 1px solid #fcfcfc;
    padding: 15px;
    position: relative;
    z-index: 0;

}

.NexAi_box_one,
.NexAi_box_one:after {
    border-radius: 24px;
    object-fit: cover;
}

.NexAi_box_one:after {
    background: hsla(0, 0%, 100%, .08) url("./assets/image/gif/nextAI_bg.gif") no-repeat;
    background-color: #fff;
    background-position: cover;
    background-size: 100% 100%;
    content: "";
    height: 100%;
    left: 0;
    opacity: .3;
    position: absolute;
    top: 0;
    width: 100%;
}

.NexAi_box_one,
.NexAi_box_one:after {
    border-radius: 24px;
    /* object-fit: cover; */
}

/* ////////////////// tokens section ////////////////// */
.Left_line::after {
    content: "";
    background: #02CDCF;
    width: 8px;
    height: 150%;
    border-radius: 15px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.Left_line_last::after {
    content: "";
    background: #02CDCF;
    width: 8px;
    height: 125%;
    border-radius: 15px;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100% !important;
}

.Tokens_boxScroll {
    height: 450px;
}

.cricel_left::after {
    content: "";
    width: 24px;
    height: 24px;
    background: white;
    position: absolute;
    border-radius: 50%;
    top: 40%;
    left: 2px;
    z-index: 222;
}


/* //////////////////Footer ////////////////// */
.footerpara {
    max-width: 350px;
}

.mt_20 {
    margin-top: 20px;
}

.Footer_border {
    border-radius: 16px;
    border: 1px solid white;
    opacity: 0.4;
    background: var(--color-white, );
    margin-top: 30px;
    margin-bottom: 20px;
}

.Svg_hover {
    transition: all 300ms linear;
    transform: translateY(5px);
}

.Svg_hover:hover {
    transform: scale(1.1);
}

.FooterMoon {
    bottom: 11%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}


.backgroundShadow {
    background: var(--color-green);
    filter: blur(196px);
    width: 250px;
    height: 250px;
}

.AIPoweredShadow_1 {
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    z-index: 6;
}

.UniqueShadow_1 {
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.BlockchainShadow_1 {
    left: 0;
    transform: translateX(-50%);
    top: 23%;
    z-index: 6;
    background: var(--color-green);
    filter: blur(196px);
    width: 250px;
    height: 250px;
}

.NexAiShadow_1 {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
    background: var(--color-green);
    filter: blur(196px);
    width: 250px;
    height: 250px;
}

.NexAiShadow_2 {
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
    background: var(--color-green);
    filter: blur(196px);
    width: 300px;
    height: 300px;
}

.TokenShadow_1 {
    top: 0%;
    left: 0%;
    transform: translateX(-50%);
    z-index: 6;
    background: var(--color-green);
    filter: blur(196px);
    width: 200px;
    height: 200px;
}

.TokenShadow_2 {
    bottom: 20%;
    right: 0%;
    z-index: 6;
    background: var(--color-green);
    filter: blur(196px);
    width: 200px;
    height: 200px;
}
.GetShadow_2 {
    bottom: -60%;
    right: 0%;
    z-index: 6;
    background: var(--color-green);
    filter: blur(196px);
    width: 150px;
    height: 150px;
}
.PreloaderShadow {
   top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 6;
    background: var(--color-green);
    filter: blur(196px);
    width: 300px;
    height: 300px;
}

.animation_preloader {
    animation: loder 3s linear;
}

@keyframes loder {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
.z_11{
    z-index: 11;
}
.scrollTop {
    position: fixed;
    width: 40px;
    bottom: 20px;
    padding: 9px;
    right: 20px;
    align-items: center;
    height: 40px !important;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    color: white;
    background: #02CDCF;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
}

.scrollTop:hover {
    background: white;
    color: #02CDCF;
    box-shadow: 0px 4px 25px #02CDCF;
}

@media (min-width:575.9px) {
    .scrollTop {
        bottom: 30px;
        width: 45px;
        right: 30px;
        height: 45px !important;
    }
    .w_sm_unset {
        width: unset !important;
    }

    .cricel_left::after {
        left: -46px;
    }

    .AIPoweredShadow_2 {
        top: 40%;
        position: absolute;
        right: 0;
        z-index: 6;
        background: var(--color-green);
        filter: blur(196px);
        width: 200px;
        height: 200px;
    }.FooterMoon {
        bottom: 11%;
        width: 82%;
        left: 50%;
        transform: translateX(-50%);
    }
    
}

@media (min-width:767.9px) {
    .scrollTop {
        bottom: 40px;
        width: 50px;
        right: 40px;
        height: 50px !important;
    }
    .marginleft {
        margin-left: 30px;
    }

    .marginright {
        margin-right: 30px;
    }

    .NexAi_box_one {
        width: 95% !important;
    }

    .Left_line::after {
        height: 140% !important;
    }

    .bg_image_hero_xs {
        background-position: 57%;
    }

    .boxunique {
        overflow-y: scroll;
        height: 750px;
    }

    .UniqueShadow_2 {
        top: 40%;
        right: 0;
        background: var(--color-green);
        filter: blur(196px);
        width: 250px;
        height: 250px;
    }

    .UniqueShadow_3 {
        bottom: -90%;
        right: 0;
        background: var(--color-green);
        filter: blur(196px);
        width: 250px;
        height: 250px;
    }

    .BlockchainShadow_2 {
        right: 0;
        top: 15%;
        z-index: 6;
        background: var(--color-green);
        filter: blur(196px);
        width: 250px;
        height: 250px;
    }

    .NexAidoesShadow_3 {
        right: 0;
        top: 0;
        z-index: 6;
        background: var(--color-green);
        filter: blur(196px);
        width: 200px;
        height: 200px;
    }.FooterMoon {
        bottom: 0%;
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width:991.9px) {
    .Bg_image_hero {
        background-image: url("./assets/image/gif/heroSection.gif");
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100% 100%;
    }

    .header_shadow::after {
        background: linear-gradient(90deg, #000, transparent);
        content: "";
        height: 447px;
        left: 21%;
        position: absolute;
        top: 180px;
        width: 20%;
        z-index: 0;
    }

    .header_bottom_shadow::after {
        background: linear-gradient(179deg, #040404 24.07%, rgba(4, 4, 4, 0) 96.3%);
        content: "";
        height: 106px;
        left: 0%;
        position: absolute;
        bottom: -61px;
        width: 100%;
        z-index: 6;
    }

    .marginleft {
        margin-left: 100px;
    }

    .marginright {
        margin-right: 100px;
    }

    .RemoteAccess_box {
        width: 364px;
        height: 400px;
        background-color: white;
        border-radius: 16px;
        padding: 30px 28px 40px 28px;
    }

    .boxunique {
        height: 810px;
        width: 95%;
    }

    .NexAi_box_one {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .AIPoweredShadow_1 {
        left: 20%;
        transform: unset;
        top: 10%;
    }

    .AIPoweredShadow_1 {
        left: 27%;
        transform: unset;
        top: 23%;
    }

    .NexAiShadow_1 {
        top: 35%;
        left: 12%;
        z-index: 6;
        background: var(--color-green);
        filter: blur(196px);
        width: 250px;
        height: 250px;

    }

    .NexAiShadow_2 {
        top: 35%;
        right: 0%;
        left: unset;
        z-index: 6;
        background: var(--color-green);
        filter: blur(196px);
        width: 300px;
        height: 300px;
    }
}

@media (min-width:1200px) {
    .ps_150px {
        padding-left: 100px;
    }

    .NexAi_box_one {
        padding: 110px;

    }

    .AIPoweredShadow_1 {
        left: 27%;
        transform: unset;
        top: 23%;
    }.header_shadow::after {
        background: linear-gradient(90deg, #000, transparent);
        content: "";
        height: 475px;
        left: 21%;
        position: absolute;
        top: 192px;
        width: 20%;
        z-index: 0;
    }
}

@media (min-width:1400px) {
    .ps_150px {
        padding-left: 120px;
    }

    .NexAi_box_one {
        padding-top: 160px;
        padding-bottom: 160px;
    }


    .header_shadow::after {
        background: linear-gradient(90deg, #000, transparent);
        content: "";
        height: 427px;
        left: 21%;
        position: absolute;
        top: 172px;
        width: 20%;
        z-index: 0;
    }
}

@media (min-width:1600px) {
    .header_bottom_shadow::after {
        bottom: -63px;

    }

    .ps_150px {
        padding-left: 140px;
    }

    .NexAiShadow_2 {
        top: 35%;
        right: 10%;
    }

}